.img1,.img2,.img3{
    display: none;
  }
  .fromcontainer{
    width: 40vw;
    background-color: white;
    position: relative;
    padding: 30px 4vw;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.15) 12px 12px 16px;
  }
  .fromimg{
    width: 5vw;
    border-radius: 50%;
    position: absolute;
    top: 20px;
    left: -2.5vw;
  }
  .from1{
    font-weight: 800;
    font-size: 30px;
  }
  .from2{
    font-family: 'EB Garamond', serif;
    font-size: 20px;
    margin: 10px 0;
  }
  .from3{
  font-weight: 800;
  display: inline;
  }
  .from3:hover{
    border-bottom: 2px solid black;
    cursor: pointer;
  }
  .fromleft{
    width: 20vw;
  }
  .fromright{
    margin-top: 100px;
    width: 20vw;
    color: rgb(61, 61, 61);
  }
  .frommedcont{
    display: flex;
  }
  .fixedimg{
    position: fixed;
    z-index: -10;
    right: 0;
    bottom: 0;
    height: 100vh;
    width: 100vw;
  }
  .newcontainer{
    padding: 50px 5vw;
    height: 310px;
    background-color: rgb(241, 241, 241);
  }
  .blankspacel{
    width: 42vw;
    height: 400px;
  }
  .blankspacel1, .blankspacel2, .blankspacel3{
  width: 42vw;
  }
  .blankspacel2{
    height: 310px;
  }
  .blankspacel1, .blankspacel3{
    height: 50px;
    background-color: rgb(241, 241, 241);
  }
  .blankspacer{
    width: 5vw;
    height: 410px;
    background-color: rgb(241, 241, 241);
  }
  .blankspace{
    display: flex;
  }
  .frommedcont1{
    display: flex;
    flex-direction: row-reverse;
  }