.topnav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:10px 5vw 20px ;
    border-bottom: 1px solid black;
    background-color: white;
  }
  .logo{
    width: 6vw;
  }
  .logotext{
    letter-spacing: 5px;
    font-size: 36px;
    font-weight: 800;
  }
  .logotextblack1{
    border: 2px solid black;
    padding: 0px 10px 10px;
  }
  .logotextblack{
    color: white;
    background-color: black;
    padding: 2px 10px 12px;
  }
  .navlinks{
    display: flex;
    flex-direction: row;
    gap: 7vw;
    padding: 10px 5vw;
    border-bottom: 1px solid black;
    margin: 0;
    background-color: white;
  }
  .navlinks li{
    padding: 10px;
    text-decoration: none;
    list-style: none;
    color: rgb(40, 40, 40);
    border-radius: 5px;
  }
  .navlinks li:hover{
    cursor: pointer;
    color: white;
    background-color: black;
  }